/build
/*.elf
/*.db
/*.suo
/Debug
/Install/PC App
/Install
/meta/tcpgecko.elf
/meta/Thumbs.db
/TCPGecko.VC.VC.opendb
/TCPGecko.sdf
/x64/Debug/TCPGecko.tlog
/x64
/.vs/TCPGecko/v14/*.suo
/*.sdf/*.db
/.vs/TCPGecko_AutoSplitter/v14/.suo
/Release
/TCPGecko.vcxproj.user
/TCPGecko_AutoSplitter.VC.VC.opendb
